@page
@model Project_.NET.Pages.AddRecipesModel
@{
    ViewData["Title"] = "Dodawanie Przepisu";
}

<div class="form-group">
    <form method="post" enctype="multipart/form-data">
        @Html.Hidden("itemId", Model.recipeId)
        <div class="form-group">
            <small> <span asp-validation-for="AddName" class="text-danger"></span> <br /></small>
            <label for="AddName">Nazwa Dania:</label><br />
            <input name="AddName" value="@Model.AddName" /><br />
        </div>
        <div class="form-group">
            <small> <span asp-validation-for="AddIngs" class="text-danger"></span> <br /></small>
            <label for="AddIngs">Potrzebne Składniki</label>
            <textarea name="AddIngs" class="form-control" id="AddIngs" rows="5">@Model.AddIngs</textarea>
        </div>
        <div class="form-group">
            <small> <span asp-validation-for="AddDesc" class="text-danger"></span></small> <br />
            <label for="AddDesc">Opis Przygotowania:</label>
            <textarea name="AddDesc" class="form-control" id="AddDesc" rows="5">@Model.AddDesc</textarea>
        </div>
        <div class="form-group">
            <label for="AddImg">Dodaj zdjęcie:</label><br />
            <input name="AddImg" /><br />
            <small> <span asp-validation-for="Foto" class="text-danger"></span></small> <br />
            <input type="file" class="form-control-file" name="Foto">
        </div>
        <div class="form-group">
            <label asp-for="ChosenUsers">Autorzy</label>
            <select multiple class="form-control" name="ChosenUsers">
                @foreach (var item in Model.GetUsers())
                {
                    @if (Model.IsInAutors(item))
                    {
                        <option selected>@item.UserName</option>
                    }
                    else
                    {
                        <option>@item.UserName</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="ChosenCategories">Kategorie</label>
            <select multiple class="form-control" name="ChosenCategories">
                @foreach (var item in Model.GetCategories())
                {
                    @if (Model.IsInSelectedCategory(item))
                    {
                        <option selected>@item.Name</option>
                    }
                    else
                    {
                        <option>@item.Name</option>
                    }
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary" asp-page-handler="Add">Zatwierdź</button><br />
    </form>
</div>


