@page
@model Project_.NET.Pages.MyFavoritesModel
@{
    ViewData["Title"] = "Ulubione Przepisy";



    <div class="card-columns">
        @foreach (var item in Model.RP)
        {

            <div class="card">

                <div class="card-img" style="background-image: url('@item.Img'); height: 254px; width: 500px;"></div>

                <div class="card-body">
                    <form method="post">

                        <p class="card-text">
                            Autor: @Model.GetUsername2(item.Id)
                            <br />
                            Nazwa: @item.Name
                            <br />
                            Data: @item.date <br />

                        </p>


                        @Html.Hidden("itemId", item.Id)

                        @Html.Hidden("itemId", item.Id)
                        
                        @if (Model.IsFavorite(item.Id) == false)
                        {
                        <form method="post">
                            <button type="submit" class="btn btn-success" asp-page-handler="Like">+</button>
                            <button type="submit" class="btn btn-danger" asp-page-handler="Hate">-</button>
                            @item.up_vote
                            <button type="submit" class="btn btn-secondary" asp-page-handler="Favorite">Ulubione</button>
                        </form>
                        }

                        else
                        {
                        <form method="post">
                            <button type="submit" class="btn btn-success" asp-page-handler="Like">+</button>
                            <button type="submit" class="btn btn-danger" asp-page-handler="Hate">-</button>
                            @item.up_vote
                            <button type="submit" class="btn btn-secondary" asp-page-handler="UnFavorite">Nie Ulubione</button>
                        </form>
                        }
                        

                    </form>

                </div>

            </div>



        }
    </div>

}