@page
@model Project_.NET.Pages.Shared.RecipesModel
@{
    ViewData["Title"] = "Lista Przepisów";
    @foreach (var item in Model.RP)
    {
        <p>
         <p style="font-size:35px">@item.Name <br /></p>
        <p style="font-size:20px"> Autor: @item.User.UserName <br /><br /> </p>
        <img src="@item.Img" style="height:440px; width:440px"><br />
        <p style="font-size:30px">Składniki:<br/> </p>    
        <p style="font-size:20px">   @item.Ings <br /><br /> </p>
        <p style="font-size:30px">  Przygotowanie: <br /> </p>
        <p style="font-size:20px"> @item.Desc <br /><br /> </p>
        Data: @item.date
        <br />


        </p>
        @if (item.User.Id == Model.GetUserId())
        {
            <form method="post">
                @Html.Hidden("itemId", item.Id)
                @Html.Hidden("userId", item.User.Id)
                <button type="submit" class="btn btn-success" asp-page-handler="Like">+</button>
                <button type="submit" class="btn btn-danger" asp-page-handler="Hate">-</button>
                @item.Votes
                <button type="submit" class="btn btn-warning" asp-page-handler="Delete">Usuń</button>
                <button type="submit" class="btn btn-primary" asp-page-handler="Edit">Edytuj</button>
            </form>

        }
        else
        {
            @Html.Hidden("itemId", item.Id)
            @Html.Hidden("userId", item.User.Id)
            if (Model.IsFavorite(item.Id) == false)
            {
                <form method="post">
                    <button type="submit" class="btn btn-success" asp-page-handler="Like">+</button>
                    <button type="submit" class="btn btn-danger" asp-page-handler="Hate">-</button>
                    @item.Votes
                    <button type="submit" class="btn btn-secondary" asp-page-handler="Favorite">Ulubione</button>
                </form>
            }

            else
            {
                <form method="post">
                    <button type="submit" class="btn btn-success" asp-page-handler="Like">+</button>
                    <button type="submit" class="btn btn-danger" asp-page-handler="Hate">-</button>
                    @item.Votes
                    <button type="submit" class="btn btn-secondary" asp-page-handler="UnFavorite">Nie Ulubione</button>
                </form>
            }
        }
    }
}
