@page
@model Project_.NET.Pages.Shared.RecipesModel
@{
    ViewData["Title"] = "Lista Przepisów";
    @foreach (var item in Model.RP)
    {
<p>
    Autor: @item.User.UserName <br />
    @item.Name <br />

    Składniki: <br />    @item.Ings <br /> Przygotowanie: <br /> @item.Desc <br />
    Data: @item.date <br />
    <button type="submit" class="btn btn-success">+</button>
    <button type="submit" class="btn btn-danger">-</button>
    <button type="submit" class="btn btn-secondary">Ulubione</button>
    <br/>
</p>
    }
}
