@page
@model Project_.NET.Pages.UserAddedModel
@{
    ViewData["Title"] = "Lista Przepisów";
}

<div class="card-columns">
    @foreach (var item in Model.RP)
    {
        <div class="card">
            <a href=@Model.Letter(item.Id)><div class="card-img" style="background-image: url('@item.Img');"></div></a>
            <div class="card-body">
                <p class="card-text">
                    Autor: @item.User.UserName
                    <br />
                    Nazwa: @item.Name
                    <br />
                    Data: @item.date <br />
                </p>
                @if (item.User.Id == Model.GetUserId())
                {
                    <form method="post">
                        @Html.Hidden("itemId", item.Id)
                        @Html.Hidden("userId", item.User.Id)
                        <button type="submit" class="btn btn-success" asp-page-handler="Like">+</button>
                        <button type="submit" class="btn btn-danger" asp-page-handler="Hate">-</button>
                        @item.Votes
                        <button type="submit" class="btn btn-warning" asp-page-handler="Delete">Usuń</button>
                        <button type="submit" class="btn btn-primary" asp-page-handler="Edit">Edytuj</button>
                    </form>
                }
            </div>
        </div>
    }
</div>
